{% extends "base.html" %} 

{% block page_title %}
<title> About Tian Jun </title>
{% endblock %}

{% block content %}
<div class="post">
    <div class="post-content">
        <h2>About Me</h2>
        <p> I am Jun, a programmer who specialises in using computer to do interesting things. </p>
        <p> I use Python for dailly work and loves Clojure very (now it's another kind of love).</p>
        <p>Currently I'm working at Microsoft in Beijing as a software enginerr, focusing on language understanding.</p>
        <h2>About This Site </h2>
        <p>
            This site was created in 2013 and the primary purpose was to record some personal thoughts and notes. Checkout more about this site <a href="{{ url_for('gen_essay', title='About_This_Site') }}">here</a>.
        </p>
        <h2>Contact Me </h2>
        <p>Feel free to get in touch. I would like to meet people with different backgrounds and talk about math, computers, NLP, AI, programming and anything else.</p>
        <p><img src="{{ url_for('static', filename='site_resources/img/me.jpg') }}"></p>

        <div id="disqus_thread"></div>
        <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
        var disqus_config = function () {
            this.page.url = 'http://tianjun.me/about'; 
                this.page.identifier = 'ABOUT'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//tianjun.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>

        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endblock %}