{% extends "base.html" %} 

{% block slogan %}
{% if slogan is defined %}
{{slogan}}
{% else %}
Fight For Dream!
{% endif %}
{% endblock %}

{% block page_title %}
<title>
{% if page_title is defined %}
{{ page_title }}
{% else %}
{{ doc.title }}
{% endif %}
</title>
{% endblock %}

{% block content %}
<div class="post">
    <h1 class="post-title">
        <a href="{{ url_for('gen_essay', title=doc.title) }}">{{' '.join(doc.title.split('_'))}}</a>
    </h1>
    <div class="post-time">
        <br>
        <p class="small">Tags:
            <span class="glyphicon glyphicon-tags"></span>
            <span class="blog-tags">
                {% for tag in doc.tags.split(',') %}
                <a href="{{ url_for('search', tag=tag) }}">{{tag}}</a>
                {{ "," if not loop.last }} {% endfor %}
            </span>
        </p>
        <p class="small">Update Time:
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="update-time">{{doc.update_time}}</span>
        </p>
    </div>
    <div class="post-content">
        {{doc.body|safe}}
    </div>
    <div class="post-time">
        <br>
        <p class="small">Create Time:
            <span class="glyphicon glyphicon-calendar"></span>
            <span class="create-time">{{doc.create_time}}</span>
        </p>
    </div>
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tianjun.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}

{% block toc %}
<div class="sidebar-container">
    <h1>TOC</h1>
    {{doc.toc|safe}}
</div>
{% endblock %}

{% block all_titles %}
<div class="sidebar-container icons">
    <h1>Archives</h1>
    <ul>
        {% for t in doc.all_titles %}
        <li><a href="{{ url_for('gen_essay', title=t) }}">{{' '.join(t.split('_'))}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block all_tags %}
<div class="sidebar-container icons">
    <h1>Tags</h1>
    <ul>
        {% for tag, n in doc.all_tags %}
        <li><a href="{{ url_for('search', tag=tag) }}">{{tag}}</a><span class="badge">{{n}}</span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block resources %}
<div class="sidebar-container icons">
    <h1>Resources</h1>
    <ul>
        {% for name, url in resources %}
        <li><a href="{{ url }}">{{name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}